<% if (theme.comments.type === 'giscus' && theme.comments.giscus && theme.comments.giscus.repo) { %>
<div class="comments-container">
  <div class="comments-title"><%= __('comments') %></div>
  <div class="giscus-wrapper">
    <script src="https://giscus.app/client.js"
      data-repo="<%= theme.comments.giscus.repo %>"
      data-repo-id="<%= theme.comments.giscus.repo_id %>"
      data-category="<%= theme.comments.giscus.category %>"
      data-category-id="<%= theme.comments.giscus.category_id %>"
      data-mapping="<%= theme.comments.giscus.mapping || 'title' %>"
      data-strict="<%= theme.comments.giscus.strict || '0' %>"
      data-reactions-enabled="<%= theme.comments.giscus.reactions_enabled || '1' %>"
      data-emit-metadata="<%= theme.comments.giscus.emit_metadata || '0' %>"
      data-input-position="<%= theme.comments.giscus.input_position || 'top' %>"
      data-theme="preferred_color_scheme"
      data-lang="<%= theme.comments.giscus.lang || config.language %>"
      data-loading="<%= theme.comments.giscus.loading || 'lazy' %>"
      crossorigin="anonymous"
      async>
    </script>
  </div>
</div>
<% } %>
